.hotDealTitile {
  font-family: Lato;
  margin-left: 3%;
  margin-top: 1.3rem;
  margin-bottom: 1.18rem;
  font-weight: 600;
}
.sliderSectionImg {
  height: 10.938rem;
}
.menuDetails {
  margin-top: 0.625rem;
}
