.bottom-spacer {
  height: 30vh;
}

/* .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
} */

.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
/* color: #314d4a; */

.header_link {
  padding: 20px;
  font-weight: bold;
  background-color: rgb(253, 253, 253);
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.selected {
  border-bottom: 3px solid #11bb9a;
  color: #11bb9a;
}

.section {
  height: 80vh;
}

#pizza {
  background-color: #a388e8;
}

#burger {
  background-color: #f4769e;
}

#pasta {
  background-color: #8face0;
}
#biriyani {
  background-color: cyan;
}

#rice {
  background-color: #342343;
}
