/* card with image */

.cardBody {
  margin: 0 0.1rem 0.1rem 0.1rem;
  border-radius: 10px;
  padding: 0.1rem;
  width: 100%;
}
.cardImageDiv {
  background-color: white;
  border-radius: 15px;
}
.cardImage {
  width: 15.813rem;
  height: 8.625rem;
  border-radius: 10px;
}
.productDetails {
  width: 100%;
  text-align: start;
  margin-top: 15px;
  margin-left: 10px;
}
.productName {
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.productDescription {
  font-family: Roboto;
  font-weight: 300;
  color: #777777;
  margin: 0;
}
.productPrice {
  font-family: Roboto;
  font-weight: 500;
  color: #757575;
}
.deletedPrice {
  font-family: Lato;
  font-weight: 300;
  color: #757575;
  margin-left: 1rem;
  margin-bottom: 1.1rem;
}

/* 
withoud image card */

.cardBodyWithoutImage {
  margin: 0 0.2rem 0.1rem 0.2rem;
  /* box-shadow: 2px 2px 2px lightgrey; */
  border-radius: 10px;
  height: 5rem;
}
.productDetailsOnlyText {
  text-align: start;
  width: 80%;
}
.priceSeciton {
  margin-right: 0.1rem;
}
