/* card with image */

.cardBody {
  margin: 0 0.1rem 0.1rem 0.1rem;
  border-radius: 10px;
  padding: 0.1rem;
  width: 100%;
}

.cardImage {
  width: 13.813rem;
  height: 8.625rem;
  border-radius: 10px;
  margin-left: 0.7rem;
}
.productDetails {
  width: 90%;
  text-align: start;
  margin-top: 15px;
  margin-left: 7px;
}
.productName {
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 0.3rem;
  font-size: 1.063rem;
}
.productDescription {
  font-family: Roboto;
  font-weight: 300;
  color: #777777;
  margin: 0;
  font-size: 0.75rem;
}
.productPrice {
  font-family: Roboto;
  font-weight: 500;
  color: #757575;
  font-size: 0.875rem;
}
.deletedPrice {
  font-family: Lato;
  font-weight: 300;
  color: #757575;
  margin-left: 1rem;
  margin-bottom: 1.1rem;
}

/* 
withoud image card */

.cardBodyWithoutImage {
  margin: 0 0.5rem 1rem 0.7rem;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 10px;
  height: 5rem;
  padding: 1rem;
}
.productDetailsOnlyText {
  text-align: start;
}
.priceSeciton {
  margin-right: 1.5rem;
}
