/* card with image */

.cardBody {
  margin: 0 0.1rem 0.1rem 0.1rem;
  border-radius: 10px;
  padding: 0.1rem;
  width: 100%;
}

.cardImage {
  width: 13.813rem;
  height: 8.625rem;
  border-radius: 10px;
  margin-left: 0.7rem;
}
.productDetails {
  width: 90%;
  text-align: start;
  margin-top: 15px;
  margin-left: 7px;
}
.productName {
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-family: "Bebas Neue";
}
.productDescription {
  font-family: Roboto;
  font-weight: 300;
  color: #777777;
  margin: 0;
  font-size: 1rem;
}
.productPrice {
  font-family: Roboto;
  font-weight: 500;
  /* color: #757575; */
  color: red;
  font-size: 1.4rem;
  font-family: "Bebas Neue";
}

/* 
withoud image card */

.cardBodyWithoutImage {
  margin: 1rem 0.5rem 1rem 0.7rem;
  box-shadow: 15px 5px 10px lightgrey, 5px 5px 10px lightgrey,
    5px 5px 10px lightgrey, 5px 5px 10px lightgrey;
  border-radius: 10px;
  height: 5rem;
  padding: 1rem;
}
.productDetailsOnlyText {
  text-align: start;
}
.priceSeciton {
  margin-right: 1.5rem;
}
.categoryHeader {
  font-family: "Righteous";
  text-align: start;
  margin-left: 0.8rem;
  margin-top: 2rem;
}
