nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
nav ul {
  display: flex;
  margin-top: 10px;
}
nav ul li {
  margin-left: 10px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin-left: 10px;
}
.categoryItem {
}
