.cartHeader {
  border-bottom: 2px solid lightgrey;
  height: 3rem;
}
.cartArrowBtn {
  margin-top: 0.8rem;
  color: rgb(147, 141, 141);
  margin-left: 1rem;
}
.titleCart {
  margin-left: 7.5rem;
  font-size: 1.8rem;
  color: black;
  font-family: "Bebas Neue";
}
.cartProductContainer {
}
.productImage {
  width: 3.813rem;
  height: 3.625rem;
  border-radius: 10px;
  margin-left: 0.7rem;
}
.deliveryOptionContainer {
  position: absolute;
  left: 70vw;
}
.deliveryOption {
  background-color: black;
  color: white;
  padding: 0.3rem;
  width: 5rem;
  text-align: center !important;
  height: 1.5rem;
  border-radius: 1rem;
}
