.cartHeader {
  border-bottom: 2px solid lightgrey;
  height: 3rem;
}
.cartArrowBtn {
  margin-top: 0.8rem;
  color: rgb(147, 141, 141);
  margin-left: 1rem;
}
.titleCart {
  margin-left: 7.5rem;
  font-size: 1.8rem;
  color: black;
  font-family: "Bebas Neue";
}
.cartProductContainer {
}
.productImage {
  width: 3.813rem;
  height: 3.625rem;
  border-radius: 10px;
  margin-left: 0.7rem;
}
.deliveryOptionContainer {
  position: absolute;
  left: 70vw;
}
.deliveryOption {
  background-color: black;
  color: white;
  padding: 0.3rem;
  width: 5rem;
  text-align: center !important;
  height: 1.5rem;
  border-radius: 1rem;
}
.dish_image {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin-left: 20px;
  border-radius: 10px;
}
.dish_name {
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
}
.dish_list {
  padding-left: 0.5rem !important;
}
.dish_list li {
  list-style: none;
}
.checkout_page {
  background-color: #1ce598 !important;
  margin: 15px;
  border-radius: 10px;
}
.checkout {
  padding: 15px 20px;

  color: antiquewhite;
  font-size: 1.2em;
}
.checkout p {
  margin: 0px !important;
}
