.fullPage {
  width: 100%;
  height: auto;
}
.bannerImg {
  width: 100%;
}
.customIconMenu {
  font-size: 0.8rem;
}
.customIconR {
  font-size: 0.9rem;
}

.customIconI {
  font-size: 1.01rem;
}
.logoDiv img {
  width: 5rem;
  height: 5rem;
  position: relative;
  top: -7.99rem;
  left: 1.188rem;
  border-radius: 0.625rem;
  z-index: 1;
}
.whiteBgMainDiv {
  position: relative;
  background-color: white;
  top: -9.3rem;
  border-radius: 3em;
  width: 100%;
}
.shareBtn {
  margin-top: 1.2rem;
  margin-right: 1.2rem;
  margin-left: 2.95rem;
}
.shareBtn:hover {
  cursor: pointer;
}
.restoran {
  font-family: Cormorant Garamond;
  width: 261px;
  height: 23px;
  font-size: 19px;
  line-height: 23px;
  margin-top: 2.28rem;
  margin-left: 1.25rem;
}

.halalText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12.89px;
  color: #656565;
  margin-left: 1.25rem;
}

.iconBox {
  margin-left: 0.625rem;
  width: 55px;
  height: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.box {
  color: black;
  width: 7.7rem;
  height: 2.7rem;
  border-radius: 0.813rem;
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 5.2px;
  text-align: center;
  margin-top: 1.375rem;
  padding: 0.813rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.box:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.active {
  background-color: black;
  color: white;
}
.reviewDiv {
  margin-left: 22.313rem;
}

body::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 375px) {
}
