* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#00aff0, transparent);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#00affa, #ff00ff);
}
